.about_us_img
{
	width: 55%;
    height: 700px;
    background: url(../img/about_us.png)no-repeat center/contain;
    z-index:2;
}
.fp_about_us
{
	padding:260px 0px 50px 0px;
}
.about_us_first_page_text
{
	width:45%;
	margin-top: 70px;
}
.fp_about_us ul li
{
	font-family: 'ArialNormal';
    font-size: 20px;
    list-style-position: inside;
    line-height: 1.3em;
    list-style-type:"– ";
}
.fp_about_us .discription_text
{
	margin-top:30px;
}



.about_us_information
{
	padding:150px 0px 50px 0px
}
.about_us_information_img
{
	width: 48%;
    height: 490px;
    background: url(../img/about_us_information_img.png) center center / contain no-repeat;
}
.about_us_information_text
{
	width:50%;
	margin-left:2%;
}
.about_us_information_text ul li a
{
	font-family: 'ArialBold';
    font-size: 20px;
    margin:0px 20px;
    transition: 0.2s;
}
.about_us_information_text ul li a:hover
{
	color:#5d476d;
}	
.about_us_information_text ul
{
	margin-top:70px;
}
.bubble41
{
	position:absolute;
	left:10%;
	top:7%;
	width:110px;
	height:125px;
	background:url(../img/bubble26.png) no-repeat;
	z-index:-1;
}
.bubble42
{
	position:absolute;
	right:10%;
	top:0%;
	width:294px;
	height:197px;
	background:url(../img/bubble18.png) no-repeat;
	z-index:-1;
}



/*MEDIA*/

@media screen and (max-width: 1023px)
{
	.first_page > div.container
	{
		flex-direction: column;
		align-items: center;
	}
	.about_us_img 
	{
		order: -1;
		width:65%;
		height:500px;
	}
	.about_us_first_page_text
	{
		width:90%;
	}
	.about_us_information > div.container
	{
		flex-direction: column;
	}
	.about_us_information_img
	{
		width:55%;
		height: 400px;
		order:-1;
	}
	.about_us_information_text
	{
		width:80%;
		margin-left: 0;
	}
	.bubble2
	{
		left:48%;
	}
	.bubble6
	{
		display: none;
	}
}
@media screen and (max-width: 768px)
{
	
	.fp_about_us > div.container
	{
		justify-content: center;
	}
	.about_us_first_page_text
	{
		width: 100%;
	}
	.bubble6
	{
		display: none;
	}
	.about_us_information_text
	{
		width: 100%;
	}
	.about_us_information_img
	{
		width: 70%;
	}
	.about_us_information
	{
		padding: 0px 0px 50px 0px;
	}
	.fp_about_us ul li
	{
		font-size: 18px;
	}
	.fp_about_us .discription_text
	{
		margin-top:10px;
	}
	.about_us_img
	{
		width: 85%;
	}
	.bubble41
	{
		display: none;
	}
	.bubble42
	{
		display: none;
	}
	.bubble3
	{
		display: none;
	}
	.bubble4
	{
		display: none;
	}    
	
}
@media screen and (max-width: 567px)
{
	
	.about_us_img
	{
		width: 100%;
		height: 300px;
	}
	
	.about_us_information_img
	{
		width: 100%;
		height: 250px;
	}
	.about_us_information
	{
		padding:0px;
	}
	.about_us_information_text ul li 
	{
		margin:10px 0px;
	}
	.customer_reviews
	{
		padding-bottom: 70px;
	}
	.fp_about_us ul li
	{
		font-size: 16px;
	}
	.bubble5
    {
        display: none;
    }
    .about_us_information_text ul
    {
    	margin-top:10px;
    }
    .about_us_information_text
    {
    	margin-top:30px;
    }
    .about_us_first_page_text
    {
    	margin-top:30px;
    }
}
