.fp_design_development {
    padding: 260px 0px 50px 0px;
}
.design_development_img
{
	width: 55%;
    height: 700px;
    background: url(../img/design_development.png)no-repeat center/contain;
}
.dd_first_page_text
{
	width:45%;
	margin-top: 50px;
}

.logo
{
	padding:100px 0px 100px 0px;
}
.logo_text
{
	width:48%;
	margin-right:2%;
}
.logo_text h3
{
	margin-bottom:50px;
}
.company_logos
{
	width:50%;
}
.company_logos_img
{
	width:30%;
	height:110px;
	margin:8px;
}
.cl1
{
	background: url(../img/hallmark.png)no-repeat center/contain;
}
.cl2
{
	background: url(../img/benq.png)no-repeat center/contain;
}
.cl3
{
	background: url(../img/viber.png)no-repeat center/contain;
}
.bubble22
{
	position:absolute;
	right:5%;
	top:0%;
	width:162px;
	height:186px;
	background:url(../img/bubble16.png) no-repeat;
	z-index:-1;
}



.company_style
{
	padding:0px 0px 100px 0px;
}
.company_style_text
{
	width:48%;
	margin-right:2%;
}
.company_style_text h3
{
	margin-bottom:50px;
}
.company_style_img
{
	width:50%;
	height:500px;
	border-radius:50px;
	background: url(../img/company_style_img.jpeg)no-repeat center/cover;
}
.bubble23
{
	position:absolute;
	right:0%;
	top:30%;
	width:208px;
	height:139px;
	background:url(../img/bubble8.png) no-repeat;
	z-index:-1;
}



.website_design
{
	padding:0px 0px 100px 0px;
}
.website_design_text
{
	width:48%;
	margin-right:2%;
}
.website_design_text h3
{
	margin-bottom:50px;
}
.website_design_img
{
	width:50%;
	height:375px;
	border-radius:50px;
	background: url(../img/website_design.jpg)no-repeat center/cover;
}
.bubble24
{
	position:absolute;
	left:0%;
	bottom:0%;
	width:151px;
	height:197px;
	background:url(../img/bubble10.png) no-repeat;
	z-index:-1;
}
.bubble25
{
	position:absolute;
	right:0%;
	top:0%;
	width:205px;
	height:260px;
	background:url(../img/bubble25.png) no-repeat;
	z-index:-1;
}




.create_banners
{
	padding:0px 0px 100px 0px;
}
.create_banners_text
{
	width:48%;
	margin-right:2%;
}
.create_banners_text h3
{
	margin-bottom:40px;
}
.create_banners_img
{
	width:50%;
	height:600px;
	background: url(../img/create_banners.png)no-repeat center/contain;
}
.bubble26
{
	position:absolute;
	right:0%;
	top:10%;
	width:110px;
	height:125px;
	background:url(../img/bubble26.png) no-repeat;
	z-index:-1;
}





.design_development_cards
{
	padding:100px 0px 100px 0px;
}
.design_development_card
{
	width:20%;
}
.design_development_card h5
{
	font-family:'ArialBold';
	font-size:20px;
}
.design_development_card_img
{
	width:80%;
	height:250px;
	margin-bottom:30px;
}
.dd1
{
	background: url(../img/REKLAMA_ICON.png)no-repeat center/contain;
}
.dd2
{
	background: url(../img/TRAFIC_ICON.png)no-repeat center/contain;
}
.dd3
{
	background: url(../img/ORIGINALNOST_ICON.png)no-repeat center/contain;
}
.dd4
{
	background: url(../img/IMIDG_ICON.png)no-repeat center/contain;
}
.dd5
{
	background: url(../img/INFORMATIVNOST_ICON.png)no-repeat center/contain;
}
.bubble27
{
	position:absolute;
	left:0%;
	bottom:10%;
	width:198px;
	height:263px;
	background:url(../img/bubble14.png) no-repeat;
	z-index:-1;
}
.bubble28
{
	position:absolute;
	right:2%;
	top:0%;
	width:193px;
	height:221px;
	background:url(../img/bubble28.png) no-repeat;
	z-index:-1;
}




.banners
{
	padding:150px 0px;
}
.banner
{
	width:46%;
	margin:2%;
}
.banner h3
{
	margin-bottom:50px;
}
.banner_img
{
	width:100%;
	height:350px;
}
.bi1
{
	background: url(../img/static_banner.png)no-repeat center/contain;
}
.bi2
{
	background: url(../img/animate_banner.png)no-repeat center/contain;
}
.bi3
{
	background: url(../img/interactive_banner.png)no-repeat center/contain;
}
.bi4
{
	background: url(../img/rich_text_banner.png)no-repeat center/contain;
}

.bubble29
{
	position:absolute;
	left:0%;
	bottom:0%;
	width:176px;
	height:218px;
	background:url(../img/bubble29.png) no-repeat;
	z-index:-1;
}
.bubble30
{
	position:absolute;
	right:0%;
	top:0%;
	width:294px;
	height:197px;
	background:url(../img/bubble18.png) no-repeat;
	z-index:-1;
}
.bubble31
{
	position:absolute;
	right:0%;
	bottom:25%;
	width:197px;
	height:260px;
	background:url(../img/bubble31.png) no-repeat;
	z-index:-1;
}
.bubble32
{
	position:absolute;
	right:0%;
	bottom:5%;
	width:110px;
	height:125px;
	background:url(../img/bubble26.png) no-repeat;
	z-index:-1;
}





/*MEDIA*/
@media screen and (max-width: 1199px)
{
	.design_development_card
	{
		width:30%;
		margin:30px 0px;
	}
	.banners_content
	{
		flex-direction: column;
		align-items: center;
	}
	.banner
	{
		width:60%;
	}
}
@media screen and (max-width: 1023px)
{
	.design_development_img
	{
		order: -1;
    	width: 65%;
   		height: 500px;
	}
	.dd_first_page_text
	{
    	width: 90%;
	}
	.dd_cards
	{
		justify-content: center;
		flex-direction: column;
	}
	.dd_cards_img
	{
		width: 65%;
		order: -1;
		margin-bottom:30px;
	}
	.dd_cards_text
	{
		width:80%;
		margin-right:0;
	}
	.company_logos_img
	{
		margin:5px;
	}
	.create_banners_img
	{
		height: 275px;
	}

}
@media screen and (max-width: 768px)
{
	.fp_design_development > div.container
	{
		justify-content: center;

	}
	.design_development_img
	{
		width: 85%;
	}
	.dd_first_page_text
	{
		width: 100%;
	}
	.dd_cards_text
	{
		width:90%;
		margin-right:0;
	}
	.additional_services_cards
	{
		padding: 50px 0px;
	}
	.additional_services_card
	{
		width: 80%;
		margin-bottom: 30px;
	}
	.get_consultation_info
	{
		width: 60%;
		margin-top:30px;
	}
	
	.design_development_card
	{
		width:40%;
		margin:30px 0px;
	}
	.design_development_cards
	{
		padding:50px 0px;
	}
	.banners
	{
		padding:70px 0px;
	}
	.banner
	{
		width: 90%;
		margin-right:0;
	}
	.banners_content
	{
		justify-content: center;
	}
	.design_development_card h5
	{
		font-size:18px;
	}
	.create_banners
	{
		padding: 0px 0px 25px 0px;
	}
	.banners
	{
		padding:30px 0px;
	}
}
@media screen and (max-width: 567px)
{
	.design_development_img
	{
		width: 100%;
    	height: 300px;	
	}
	.dd_cards_text
	{
		width:100%;
	}
	.dd_cards_img
	{
		width: 100%;
		height:300px
	}
	.company_logos_img 
	{
		width: 50%;
		height:100px;
	}
	.company_logos
	{
		justify-content: center;
	}
	.get_consultation_info
	{
		margin-top:30px;
	}
	.design_development_card
	{
		width: 100%;
	}
	.banner
	{
		margin:0;
		width: 100%;
	}
	.banner_img
	{
		height: 220px;
		margin-bottom: 40px;
	}
	.banner h3
	{
		margin-bottom: 10px;
	}
	.banners
	{
		padding: 30px 0px;
	}
	.swiper-left, .swiper-right
	{
		width:50px;
		height: 50px;
	}
	.design_development_card h5
	{
		font-size:16px;
	}

	.logo_text h3,.company_style_text h3,.website_design_text h3,.create_banners_text h3
	{
		margin-bottom: 20px;
	}
	.logo,.company_style,.website_design,.create_banners
	{
		padding: 0px 0px 50px 0px;
	}
	.design_development_cards
	{
		padding:25px 0px 50px 0px;
	}
	.banner_img
	{
		margin-bottom: 0px;
	}
}