@media (max-width: 760px) { 
header {
    width: 100% !important;
}
section.services{display: inline-grid;
    width:100% !important;
}
section.cost_calculation{
     width:100% !important;
}

.swiper-container.swiper-initialized.swiper-horizontal.swiper-ios.swiper-backface-hidden{
    display:none !important;
}
}	
.swiper-container.swiper-initialized.swiper-horizontal.swiper-ios.swiper-backface-hidden{
    width:100% !important;
}
header
{
	/* margin-top:100px; */
	/* height:180px; */
	padding: 10px 0;
	position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0, .1);
}
.header-top
{
	/* height:137px; */
}
.header-top img
{
	height: 100px;
}
.header-bottom
{
	height:80px;
}
nav a
{
	font-family:'ArialBold';
	font-size:18px;
	margin-left:40px;
	text-transform:uppercase;
	position: relative;
	
}
nav a:hover:before
{
	width: 100%;
}
nav a:before
{
	content: "";
	position: absolute;
	width: 0%;
	bottom:-3px;
	left:0;
	background: #8544a2;
	height: 3px;
	transition:0.4s;
}
nav a.link-active:hover:before
{
	width:0%;
}
nav a.link-active
{
	border-bottom: 3px solid #8544a2;
}

.choose_language
{
	position:absolute;
	right:20px;
	bottom:-150px;
	width:40px;
	height:124px;
	/*background:green;*/
}
.square
{
	width:40px;
	height:40px;
	background:#e0e0e0;
	border-radius:10px;
	margin:20px 0px;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	cursor: pointer;
}
.choose_language a
{
	font-family:'ArialBold';
	font-size:18px;
	text-transform:uppercase;
	color:#0071e3;
}
.choose_language_bmci a
{
	font-family:'ArialBold';
	font-size:18px;
	text-transform:uppercase;
	color:#0071e3;
}
.choose_language_bmci a:first-child
{
	color:#8544a2;
}
.choose_language a:first-child
{
	color:#8544a2;
}
.square div
{
	width:25px;
	height:13px;
	border-radius:6px;
	background:#0071e3;
}
.square div:first-child
{
	background:#8544a2;
}
.burger_menu
{
	display: none;
}
.burger_menu img
{
	height: 100px;
}
.burger_menu_block
{
	width: 40px;
	height: 30px;
	position: relative;
}
.burger_menu_block:before
{
	content: "";
	position: absolute;
	background: #000;
	width: 100%;
	height: 4px;
	top:0;
	left:0;
	transition: 0.3s;
}
.burger_menu_block:after
{
	content: "";
	position: absolute;
	background: #000;
	width: 100%;
	height: 4px;
	bottom:0;
	left:0;
	transition: 0.3s;
}
.burger_menu_block span
{
	position: absolute;
	background: #000;
	width: 100%;
	height: 4px;
	top:13px;
	left:0;
	transition: 0.3s;
}
.burger_menu_block.active:before
{
	transform: rotate(45deg);
	top:13px;
}
.burger_menu_block.active:after
{
	transform: rotate(-45deg);
	bottom:13px;
}
.burger_menu_block.active span
{
	transform: scale(0);
}
.burger_menu_content
{
	width: 100%;
    height: 320px;
    background: #5d476d;
    display:none;
}
.burger_menu_content_nav a
{
	margin-left:0px;
	margin-bottom: 20px;
	color: #fff; 
}
.burger_menu_content_nav a:first-child
{
	margin-top:20px;
}
.burger_menu_content_block
{
	height: 100%;
}	
/*FIRST_PAGE*/

.first_page
{
	padding:360px 0px 100px 0px;
	position: relative;
	
}

.first_page h1 span
{
	font-family:'ArialBold';
	font-size:64px;
}
.first_page .fp_big_text
{
	margin-top:55px;
	font-family:'ArialNormal';
	font-size:24px;
	line-height:32px;
}
.in_first_page_text
{
	width:46%;
	margin-top: 30px;
}
.bubble1
{
	position:absolute;
	top:0;
	left:15%;
	width:288px;
	height:108px;
	background:url(../img/bubble1.png) no-repeat;
	background-size: cover;
	z-index:-1;
}
.bubble2
{
	position:absolute;
	top:0;
	left:38%;
	width:149px;
	height:96px;
	background:url(../img/bubble2.png) no-repeat;
	background-size: cover;
	z-index:-1;
}
.bubble3
{
	position:absolute;
	top:15%;
	left:16%;
	width:182px;
	height:122px;
	background:url(../img/bubble3.png) no-repeat;
	background-size: cover;
	z-index:-1;
}
.bubble4
{
	position:absolute;
	top:15%;
	left:0;
	width:206px;
	height:263px;
	background:url(../img/bubble4.png) no-repeat;
	background-size: cover;
	z-index:-1;
}
.bubble5
{
	position:absolute;
	top:45%;
	left:0;
	width:140px;
	height:177px;
	background:url(../img/bubble5.png) no-repeat;
	background-size: cover;
	z-index:-1;
}
.bubble6
{
	position:absolute;
	top:50%;
	left:6%;
	width:182px;
	height:122px;
	background:url(../img/bubble3.png) no-repeat;
	background-size: cover;
	z-index:-2;
}

.lottie_wrap
{
	width: 54%;
	overflow: hidden;
}

#lottie{
	width:150%;
	height:150%;
	display:block !important;
	overflow: hidden;
	transform: translate(-27%, -18%);
	text-align: center;
	opacity: 1;
	
}

#lottie svg 
{
	width: 100% !important;
	height: 100% !important;
}
.fp_in
{
	padding: 260px 0px 50px 0px;
}

   

/*FIRST_PAGE*/





/*ABOUT*/


.about_content
{
	width: 55%;
}
.about
{
	padding: 50px 0px;
}
.about_content p
{
	margin:70px 0px;
}
.about_photo
{
	width:40%;
	height:600px;
	top:0;
	left:0;
	background:url(../img/bg_img_about.png)no-repeat center/contain;
	margin-right: 5%;
}
.bubble44
{
	position:absolute;
	top:0%;
	right:7%;
	width:171px;
	height:196px;
	background:url(../img/bubble21.png) no-repeat;
	background-size: cover;
	z-index:-1;
}
/*ABOUT*/


/*ORDER SITE*/

.order_site
{
	padding: 50px 0px;
}
.order_site_content
{
	width: 45%;
}
.order_site_content p
{
	margin-top: 70px;
}
.order_site_photo
{
	width:40%;
	height:500px;
	top:0;
	right:0;
	background:url(../img/bg_img_where.png) no-repeat center/contain;
	margin-left: 5%;
}

.bubble8
{
	position:absolute;
	top:-8%;
	right:2%;
	width:208px;
	height:139px;
	background:url(../img/bubble8.png) no-repeat;
	z-index:-1;
}

.bubble9
{
	position:absolute;
	top:40%;
	right:4%;
	width:219px;
	height:260px;
	background:url(../img/bubble9.png) no-repeat;
	z-index:-1;
}
.bubble10
{
	position:absolute;
	bottom:-5%;
	left:0;
	width:151px;
	height:197px;
	background:url(../img/bubble10.png) no-repeat;
	z-index:-1;
}
/*ORDER SITE*/



/*HOW WORK*/

.how_work
{
	position: relative;
    padding: 100px 0px;
}

.how_work_card
{
	width:16%;
}
.how_work_card h5
{
	font-family:'ArialBold';
	font-size:16px;
}
.how_work_card span
{
	font-family:'ArialNormal';
	font-size:110px;
	color: #77216f;
	padding-right: 15px;
}
.letter_and_photo img
{
	width: 70px;
}
.how_work_content
{
	margin-top:80px;
}
.bubble45
{
	position:absolute;
	top:10%;
	right:5%;
	width:162px;
	height:186px;
	background:url(../img/bubble16.png) no-repeat;
	z-index:-1;
}
/*HOW WORK*/




/*SERVICES*/

.services
{
	position: relative;
    background: #5d476d;
}

.services_cards_content
{
	width:35%;
}
.services_card
{
	width:45%;
	margin:10px;
}

.services_picture
{
	height: 130px;
	background-size: 130px 130px;
	background-position: center;
	background-repeat: no-repeat;
}

.s_img1
{
	background-image: url(../img/service_img9.png);
}

.s_img2
{
	background-image: url(../img/service_img8.png);
}
.s_img3
{
	background-image: url(../img/service_img10.png);
}
.s_img4
{
	background-image: url(../img/service_img7.png);
}


.services_card p
{
	font-family:'ArialBold';
	font-size:20px;
	color: #fff;
	text-align: center;
	line-height:25px;
	margin-top:10px;
}

.services_content
{
	width:55%;
}
.services_content h2
{
	color: #fff;
}
.services_content p
{
	margin:80px 0px;
	color: #fff;
}
/*SERVICES*/




/*COST CALCULATION*/

.cost_calculation
{
	position: relative;
    padding: 200px 0px 50px 0px;
}
	
.cost_calculation_content
{
	width:55%;
}
.cost_calculation_content p
{
	margin:70px 0px;
	font-family: 'ArialBold';
	line-height:1.3em;
}
.cost_calculation_photo
{
	width:45%;
	height:500px;
	background:url(../img/calc_img.png) no-repeat center/contain;
}

.bubble11
{
	position:absolute;
	left:5%;
	top:10%;
	width:117px;
	height:135px;
	background:url(../img/bubble11.png) no-repeat;
	z-index:-1;
}
.bubble12
{
	position:absolute;
	left:2%;
	width:162px;
	height:186px;
	background:url(../img/bubble12.png) no-repeat;
	z-index:-1;
}
.bubble13
{
	position:absolute;
	right:2%;
	bottom:13%;
	width:162px;
	height:186px;
	background:url(../img/bubble12.png) no-repeat;
	z-index:-1;
}


/*COST CALCULATION*/




/*FIRST_STEP*/
.first_step
{
	padding: 0px 0px 100px 0px;
}
.first_step_text
{
	padding-left: 5%;
}
.first_step_text p
{
	width:95%;
	font-family: 'ArialBold';
	font-size: 20px;
}
.first_step_text h3
{
	font-family: 'ArialBold';
	font-size:200px;
	color: #5d476d;
}
.cost_cards_content
{
	margin-top:100px;
}
.cost_card
{
	width:27%;
	background: #fff;
	border:1px dashed #000;
	border-radius:30px;
	margin:15px;
	padding:20px;
	cursor: pointer;
	transition:ease 0.3s;
}
.cost_card:hover
{
	background:#f8f4ff;
	border:1px solid #f8f4ff;
}
.cost_card.purple_card:hover
{
	background:#ded9e6;

}
.purple_card
{
	background: #ded9e6;
	border:1px solid #ded9e6;
}
.cost_cards_img
{
	width:210px;
	height:190px;
	margin-top:10px;
}
.cc1
{
	background:url(../img/icon_lp.png) no-repeat center/contain;
}
.cc2
{
	background:url(../img/icon_seti.png) no-repeat center/contain;
}
.cc3
{
	background:url(../img/icon_shop.png) no-repeat center/contain;
}

.cost_card h5
{
	font-family: 'ArialBold';
	font-size:20px;
	text-transform:uppercase;
	margin:15px 0px;
}
.cost_card span
{
	position: relative;
	font-family: 'ArialBold';
	font-size:20px;
	padding-left:25px;
}
.cost_card span:before
{
	content:"";
	position: absolute;
	top:2px;
	left:0;
	width:19px;
	height:16px;
	background:url(../img/price_icon.png) no-repeat;
}
.cost_card p
{
	margin-top:15px;
	width:95%;
}
.first_step .white_button
{
	margin-top:100px;
}
.bubble46
{
	position:absolute;
	right:2%;
	bottom:13%;
	width:162px;
	height:186px;
	background:url(../img/bubble16.png) no-repeat;
	z-index:-1;
}

/*FIRST_STEP*/





/*PURPLE_PRICE_LINE*/

.purple_price_line
{
	padding:60px 0px;
	background: #5b4181;
}
.purple_price_line h2
{
	font-family: 'ArialBold';
	font-size:36px;
	color:#fff;
	text-align: center;
}

/*PURPLE_PRICE_LINE*/



/*OUR_PROJECTS*/

.our_projects
{
	/*padding:150px 0px;*/
	position: relative;
}
.our_projects_content
{
	margin-top:70px;
}
.our_projects_card
{
	position:relative;
	width:30%;
	/*border-radius:10px;*/
	margin:10px;
}
.our_projects_card:hover > .our_projects_card_info
{
	height:100%;
}
.our_projects_card:hover > .our_projects_card_info a 
{
	opacity:1;
}
.our_projects_card img
{
	width:100%;
	height:270px;
	object-fit:cover;
	object-position: center;
	border-radius:10px;
}
.our_projects_card_info
{
	position:absolute;
	width:100%;
	height:0%;
	border-radius:10px;
	background:rgba(91,65,129,0.5);
	transition:ease-out 0.3s;
}
.our_projects_card_info a
{
	opacity:0;
}
.our_projects_card_info p
{
	font-family: 'ArialBold';
	font-size:26px;
	color:#fff;
}
.our_projects .container button
{
	width:262px;
	margin-top: 70px;
}
.bubble14
{
	position:absolute;
	left:0;
	top:33%;
	width:198px;
	height:263px;
	background:url(../img/bubble14.png) no-repeat;
	background-size: cover;
	z-index:-1;
}
.bubble15
{
	position:absolute;
	right:0;
	top:36%;
	width:186px;
	height:221px;
	background:url(../img/bubble15.png) no-repeat;
	background-size: cover;
	z-index:-1;
}
.bubble16
{
	position:absolute;
	right:15%;
	bottom:5%;
	width:162px;
	height:186px;
	background:url(../img/bubble12.png) no-repeat;
	background-size: cover;
	z-index:-1;
}

/*OUR_PROJECTS*/




/*CUSTOMERS_REVIEWS*/

.customer_reviews
{
	padding-bottom:130px;
	position: relative;
	padding-top:0;
}
.customer_reviews h2
{
	width:100%;
}
.swiper-container
{
	width:1090px;
	height:300px;
	margin-top:110px;
	margin:120px 0px 0px 15% !important;
}
.swiper-slide-line
{
	width:530px;
	height:266px;
	border-radius:50px;
	border:1px solid #d5d7d8;
	position: relative;
	background:#fff;
	cursor: grab;
}
.slider_img
{

	margin:-30px 0px 0px 25px;
	width:105px;
	height:105px;
	border-radius:50%;
}

.swiper-slide-line p
{
	font-family: ArialItalic;
	font-size:20px;
	width:80%;
	margin:20px 0px 30px 30px;
}
.swiper-slide-line span
{
	font-family: ArialNormal;
	font-size:20px;
	margin-left:30px;
	text-transform: uppercase;
	position: absolute;
	bottom:40px;
}

.sw1 .slider_img
{
	background:url(https://lh3.googleusercontent.com/p/AF1QipOKKPPOjcalfmPDgR_WJjEmwvWCMdkBe6dPZoqA=s1360-w1360-h1020) no-repeat center/cover;
}
.sw2 .slider_img
{
	background:url(https://lh3.googleusercontent.com/p/AF1QipPGA40LBMqnJ4R8m0aeXpdO1UPEGOg0TCXjQYuC=s1360-w1360-h1020) no-repeat center/cover;
}
.sw3 .slider_img
{
	background:url(https://lh3.googleusercontent.com/p/AF1QipP9bIiS9Is970Ac_hXCoX99z_n3dzEsiEjIxotg=w960-h960-n-o-v1) no-repeat center/cover;
}

.swiper-buttons
{
	padding-left:30%;
	margin-top:50px;
	width:100%;
}
.swiper-left,.swiper-right
{
	width:66px;
	height:66px;
	cursor: pointer;
	border: 1px solid #5d476d;
    border-radius: 50%;
}
.swiper-left
{
	background:url(../img/arr_left.png) no-repeat center/cover;
}
.swiper-right
{
	background:url(../img/arr_right.png) no-repeat center/cover;
	margin-left:80px;
}
/*.customer_reviews_photo
{
	position:absolute;
	width:30%;
	height:100%;
	top:10%;
	left:0%;
	background:url(../img/bg_img_rev_copy.png) no-repeat center/contain;
}*/
.customer_reviews_photo
{
	position:absolute;
	width:30%;
	height:500px;
	left:0%;
	bottom:0%;
	background:url(../img/bg_img_rev_copy.png) no-repeat bottom left/90%;
}

/*CUSTOMERS_REVIEWS*/


/*FOOTER*/

footer
{
	padding:130px 0px;
	background: #5d476d;
}
footer h2
{
	color: #fff;
	margin-bottom:30px;
}
footer .services_cards_content 
{
	width:70%;
}
.footer_services_cards
{
	width:50%
}
.footer_contacts
{
	margin-left:23%;
}
.footer_ul li a 
{
	font-family: 'ArialBold';
	font-size:20px;
	color:#fff;
	line-height:40px;
	transition:0.3s;
}
.footer_ul li a:hover
{
	color:#d2d2d2;
}
.footer_ul .num
{
	font-family: 'ArialNormal';
}

.footer_bottom
{
	margin-top:250px;
}
.maybe_talk h2
{
	font-family: 'ArialBold';
	font-size:72px;
	color:#fff;
	width:75%;
	line-height:150px;
	text-align: center;
}

.maybe_talk h2 a,.maybe_talk h2 a
{
	font-family: 'ArialBold';
	font-size:72px;
	color:#fff;
	transition:0.3s;
}
.maybe_talk h2 a:hover,.maybe_talk h2 a:hover
{
	color: #f3b731;
}
.maybe_talk h2 a:first-child
{
	text-decoration:underline;
	
}
.maybe_talk span
{
	font-family: 'ArialBold';
	font-size:36px;
	color:#fff;
}

.footer_social
{
	margin-top:210px;
	width:90%;
}
.footer_social ul li a
{
	margin-right:80px;
	color: #fff;
	transition:0.3s;

}
.footer_social ul li:nth-child(3) a
{
	margin-right:0px;
}
.footer_social ul li a:hover
{
	color:#d2d2d2;
}

.footer_logo p
{
	font-family: 'ArialBold';
	font-size:16px;
	color:#fff;
	margin-left: 30px;
}
.footer_logo_img
{
	width:57px;
	height:57px;
	background:url(../img/small_logo.png) no-repeat;
	background-size: cover;
}

/*FOOTER*/



/*MEDIA*/
@media screen and (max-width: 1199px)
{
	.services > div.container
	{
		flex-direction: column;
	}
	.services_card
	{
		width:23%;
		margin:0px;
	}
	.services_cards_content
	{
		width:90%;
	}
	.services_content
	{
		width:80%;
	}
	.services_content 
	{
   		margin-top: 70px;
	}
	.cost_card
	{
		width: 30%;
	}
	.how_work_card 
	{
    	width: 30%;
    	margin: 3% 0%;
	}
	.our_projects_card img
	{
		height:200px;
	}
	.footer_services_cards
	{
		width:100%;
		flex-direction: column;
		align-items: center;
	}
	footer > div.container
	{
		justify-content: center;
	}
	.footer_contacts
	{
		margin-left:0;
		margin-top: 140px;
	}
	.footer_bottom 
	{
		margin-top: 150px;
	}
	.footer_social
    {
    	flex-direction: column;
    }
    .footer_social
	{
		width: 100%;
	}
	.footer_social ul li a
    {
    	margin-right: 0;
    	line-height:50px;
    }
    .footer_social ul
    {
    	flex-direction: column;
    	align-items: center;
    }
    .footer_logo
    {
    	margin-top: 50px;
    }
    footer
    {
    	padding:130px 0px 50px 0px;
    }
   

}
@media screen and (max-width: 1023px)
{
	.header_top_menu
	{
		display: none;
	}
	.burger_menu
	{
		display: flex;
    	flex-wrap: wrap;
	}

	.first_page_home .container
	{
		flex-direction: column-reverse !important;
	}

	.lottie_wrap
	{
		width: 90%;
	}

	#lottie{
		transform: translate(-32%, 0);
	}

	



	.how_work_card 
	{
    	width: 30%;
    	margin: 3% 0%;
	}
	.services_card 
	{
    	width: 44%;
    	margin:10px;
	}
	.our_projects_card img
	{
		height: 200px;
	}
	.cost_card
	{
		width:60%;
	}
	.cost_cards_content
	{
		flex-direction: column;
		align-items: center;
	}
	.order_site_photo
	{
		order: -1;
		width:50%;
		margin-left:0;
	}
	.order_site_content
	{
		width: 90%;
	}
	.order_site > div.container
	{
		justify-content: center;
		flex-direction: column;
	}
	.about_content
	{
		width: 90%;
		margin-top:40px;
	}
	.about > div.container
	{
		justify-content: center;
	}
	.about_photo
	{
		width: 50%;
		margin-right: 0;
		height:400px;
	}
	.cost_calculation_photo
	{
		order: -1;
		width:40%;
	}
	.cost_calculation_content
	{
		width: 90%;
	}
	.cost_calculation > div.container
	{
		justify-content: center;
	}
	.cost_calculation
	{
		padding: 100px 0px 50px 0px;
	}
	.our_projects_content
	{
		flex-direction: column;
		align-items: center;
	}
	.our_projects_card img
	{
		height: 270px;
	}
	.our_projects_card
	{
		width:50%;
	}
    .in_first_page_text 
    {
    	width: 90%;
	}
}
@media screen and (max-width: 768px)
{
	.in_first_page_text 
    {
    	width: 100%;
	}
	.discription_text
	{
		font-size: 18px;
	}
	.big_title 
	{
    	font-size: 54px;
	}
	.first_page h1 span
	{
		font-size: 54px;
	}
	.first_page .fp_big_text
	{
		font-size: 18px;
	}
	.small_title
	{
		font-size: 30px;
		line-height: 1.4
	}
	.about
	{
		padding: 25px 0px;
	}
	.about_photo
	{
		width: 60%;
		height:300px;
	}
	.about_content
	{
		margin-top:20px;
	}
	.about_content p
    {
    	margin: 30px 0px;
    }
    .order_site
    {
    	padding: 25px 0px;
    }
	.order_site_photo
	{
		order: -1;
		width:60%;
		height: 400px;
	}
	.order_site_content
	{
		width: 90%;
	}
	.order_site_content p
    {
    	margin-top:30px;
    }
	.order_site > div.container
	{
		justify-content: center;
	}
	.services_cards_content
	{
		width: 70%;

	}
	.services > div.container
	{
		justify-content: center;
	}
	.services_content 
	{
   		width: 75%;
    	margin-top: 70px;
	}
	.how_work
	{
		padding:50px 0px;
	}
	.how_work_content
	{
		justify-content: space-around;
		margin-top:40px;
	}
	.how_work_card 
	{
    	width: 35%;
	}
	.services_content p
	{
		margin:30px 0px;
	}
	.cost_calculation
	{
		padding: 25px 0px;
	}
	.cost_calculation_photo
	{
		width:50%;
		height:350px;
	}
	.cost_calculation_content
	{
		width: 90%;
	}
	.cost_calculation_content p
	{
		margin:30px 0px;
	}
	.cost_calculation > div.container
	{
		justify-content: center;
	}
	.cost_cards_content
	{
		margin:30px 0px;
	}
	.first_step .white_button
	{
		margin: 0;
	}
	.purple_price_line h2
	{
		font-size:30px;
	}
	.cost_card
	{
		width: 80%;
	}
	.our_projects_content
	{
		margin-top:30px;
	}
	.our_projects .container button
	{
		margin-top:30px;
	}
	.our_projects_card img
	{
		height: 230px;
	}
	.our_projects_card
	{
		width:52%;
		margin: 20px 0px;
	}
	.footer_services_cards
	{
		width:100%;
	}
	footer > div.container
	{
		justify-content: center;
	}
	.footer_contacts
	{
		margin-left:0;
		margin-top:50px;
	}
	.footer_bottom 
	{
		margin-top:80px;
	} 
	.footer_social ul li a
	{
		font-size: 20px;
	}
	.bubble2
	{
		display: none;
	}
	.our_projects_card_info p
    {
    	font-size:23px;
    }
   /* .footer .services_cards_content
    {
    	width:70%;
    }*/
    .maybe_talk h2
    {
    	font-size: 35px;
    	line-height: 55px;
    }
    .maybe_talk h2 a, .maybe_talk h2 a
    {
    	font-size: 35px;
    }
    .maybe_talk span
    {
    	font-size:35px;
    }
    .footer_social
    {
    	margin-top: 110px;
    }
    footer
    {
    	padding:70px 0px;
    }
    .footer_social ul li a
    {
    	line-height:32px;
    }
    .footer_logo_img
    {
    	width: 40px;
    	height: 40px;
    }
    .bubble1
    {
    	display: none;
    }
    .bubble44
    {
    	display: none;
    }
    .bubble11
    {
    	display: none;
    }
    .bubble9
    {
    	display: none;
    }
    .bubble10
    {
    	display: none;
    }
    .bubble46
    {
    	display: none;
    }
    
}
@media screen and (max-width: 567px)
{
	.discription_text
	{
		font-size: 16px;
	}
	
    .about_photo
    {
    	width:90%;
    	height:300px;
    }
    .about_content
    {
    	width: 100%;
    }
    .order_site_photo
    {
    	width: 90%;
    	height: 300px;
    }
    .order_site_content
    {
    	width: 100%;
    	margin-top: 20px;
    }
    .how_work_card
    {
    	width: 90%;
    	margin: 8% 0%;
    }
    .how_work_content 
    {
    	justify-content: center;
    }
    .services_card
    {
    	width:100%;
    	margin: 20px 10px;
    }
    .services_content
    {
    	width: 100%;
    }
    .cost_calculation_photo
    {
    	width: 90%;
    	height: 300px;
    }
    .cost_calculation_content
    {
    	width: 100%;
    }
    .first_step_text h3
    {
    	font-size: 90px;
    }
    .cost_card
    {
    	width: 100%;
    	margin:30px 0px;
    }
    .our_projects_card
    {
    	width: 100%;
    }
    .our_projects_card_info p
    {
    	font-size:20px;
    }
    .our_projects_card img
    {
    	height: 250px;
    }
    .maybe_talk h2
    {
    	font-size: 30px;
    	line-height: 50px;
    }
    .maybe_talk h2 a, .maybe_talk h2 a
    {
    	font-size: 30px;
    }
    .maybe_talk span
    {
    	font-size:30px;
    }
    .footer_social
    {
    	flex-direction: column;
    }
    footer
    {
    	padding: 70px 0px 30px 0px;
    }
    .purple_price_line h2
    {
    	font-size:25px;
    }
    .purple_price_line
    {
    	padding:30px 0px;
    }
    .swiper-container
    {
    	margin:0 !important;
    }
    .swiper-slide-line
    {
    	height: 285px;
    }
    .swiper-container
    {
    	height: 315px;
    }
    .customer_reviews_photo
    {
    	display: none;
    }
    .swiper-buttons
    {
    	padding-left: 0;
    	margin-top:30px;
    }
    .swiper-right
    {
    	margin-left: 40px;
    }
    .customer_reviews h2
    {
    	 margin-bottom: 50px;
    }
    .footer_services_cards
    {
    	width: 100%;
    }
    .services_cards_content
    {
    	width: 70%;
    }
    .services
    {
    	padding:50px 0px;
    }
    .first_step_text p
    {
    	font-size: 18px;
    }
    .bubble16
    {
    	display: none;
    }
    .first_step
    {
    	padding-bottom:50px;
    }
   
}

