.container
{
	margin: auto;
    width: 100%;
    max-width: 1460px;
    height: inherit;
    padding: 0 20px;
    position: relative;
    /*min-width:1200px;*/
}

section
{
	padding: 100px 0;
	position: relative;
}

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}

.justify
{
	text-align: justify;
}

/*Flexbox*/

.flex
{
	display: flex;
	flex-wrap: wrap;
}

.flex_s
{
	justify-content: flex-start;
}

.flex_c
{
	justify-content: center;
}

.flex_e
{
	justify-content: flex-end;
}

.flex_sa
{
	justify-content: space-around;
}

.flex_sb
{
	justify-content: space-between;
}

.flex_t
{
	align-items: flex-start;
}

.flex_m
{
	align-items: center;
}

.flex_b
{
	align-items: flex-end;
}

.flex_col
{
	flex-direction: column;
}

/*Grid*/

.grid
{
	display: grid;
	grid-gap: 10px;
}

.g_s2
{
	grid-template-columns: repeat(2, 1fr);
}

.g_s3
{
	grid-template-columns: repeat(3, 1fr);
}

.g_s4
{
	grid-template-columns: repeat(4, 1fr);
}

.g_s5
{
	grid-template-columns: repeat(5, 1fr);
}


