  @font-face 
  {
		font-family: ArialNormal; 
		 src: url(../fonts/ArialMT.ttf) ; 
  }
  @font-face 
  {
		font-family: ArialBold; 
		src: url(../fonts/Arial-BoldMT.ttf); 
  }
  @font-face 
  {
    font-family: ArialItalic; 
    src: url(../fonts/ARIALNI.TTF); 
  }