.fp_p_and_a
{
    padding: 260px 0px 50px 0px;
}
.promotion_and_advertising_img
{
	
	width: 55%;
    height: 700px;
    background: url(../img/promotion_and_advertising.png)no-repeat center/contain;
}
.p_and_a_first_page_text
{
	width:45%;
	margin-top: 50px;
}
.promotion_cards
{
	padding:100px 0px 50px 0px;
}
.promotion_card
{
	width:29%;
	margin:20px;
}
.promotion_card_img
{
	width:100%;
	height:180px;
}
.promotion_card h5
{
	margin:20px 0px;
}
.pci1
{
	background: url(../img/smm_icon.png) no-repeat center/contain;
}
.pci2
{
	background: url(../img/complex_icon.png) no-repeat center/contain;
}
.pci3
{
	background: url(../img/seo_icon.png) no-repeat center/contain;
}
.bubble21
{
	position:absolute;
	right:10%;
	top:5%;
	width:171px;
	height:196px;
	background:url(../img/bubble21.png) no-repeat;
	z-index:-1;
}

/*MEDIA*/

@media screen and (max-width: 1023px)
{
	.promotion_and_advertising_img
	{
		order: -1;
    	width: 65%;
    	height: 500px;
	}
	.p_and_a_first_page_text
	{
		width: 90%;
   	 	margin-top: 50px;
	}
	.promotion_cards_content
	{
		flex-direction: column;
		align-items: center;
	}    
	.promotion_card
	{
		width: 55%;
		margin:40px 0px;
	}
}
@media screen and (max-width: 768px)
{
	.fp_p_and_a > div.container
	{
		justify-content: center;
	}
	.promotion_and_advertising_img
	{
		width: 85%;
	}
	.our_projects
	{
		padding:50px 0px;
	}
	.p_and_a_first_page_text
	{
		width: 100%;
	}
	.promotion_card
	{
		width: 80%;
	}
	.customer_reviews
	{
		padding-bottom:100px;
	}
	.promotion_cards
	{
		padding: 30px 0px;
	}
}
@media screen and (max-width: 567px)
{
	.promotion_and_advertising_img
	{
		width: 100%;
    	height: 300px;	
	}
	
	.promotion_cards
	{
		padding:0;
	}
	.how_work
	{
		padding: 30px 0px;
	}
	.our_projects
	{
		padding: 30px 0px 50px 0px;
	}
	.promotion_card h5
	{
		margin: 10px 0px;
	}
	.promotion_card
	{
		margin: 30px 0px;
	}
	.bubble21
	{
		display: none;
	}
}