.yellow_button
{
	width:174px;
	height:40px;
	background: #f3b731;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	font-size:14px;
	font-family:'ArialBold';
	border-radius:20px;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	cursor: pointer;
	transition:ease 0.5s;
	position: relative;

}


.yellow_button:hover
{
	box-shadow: 0 0 10px #8544a2;
	background: #8544a2;
}

.white_button
{
	width:177px;
	height:42px;
	background: #fff;
	text-align:center;
	text-transform:uppercase;
	color:#ff992d;
	font-size:14px;
	font-family:'ArialBold';
	border-radius:21px;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	transition:ease-in-out 0.3s;
	cursor: pointer;

}
.white_button:hover
{
	color:#fff;
	background: #ff992d;

}
.big_title
{
	font-family:'ArialBold';
	font-size:64px;
}
.small_title
{
	font-family:'ArialBold';
	font-size:36px;
	text-transform:uppercase;
}
.discription_text
{
	font-family:'ArialNormal';
	font-size:20px;
	/*text-align: center;*/
	line-height:1.3em;
}
